
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  font-family: "Arimo";
}
.hero-section{
  height : calc(100vh - 64px);
}
.scrollable-element {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* .hero-section {
 
    background: linear-gradient(
      90deg,
      #060927,
      #004e92
    );
    color: white;
  
} */

@media screen and (max-width:1020px) {
  .hero-section{
    height : calc(95vh - 64px);
  }
  
}